.red {
    border: 3px solid red;
    color: red;
}

.green {
    border: 3px solid green;
    color: green;
}

.noti {
    font-size: 2em;
    background-color: lightgray;
    margin-bottom: 10px;
    border-radius: 5px;
}

.noti > p {
    margin: 10px;
}